body {
    overflow-y: scroll;
    background-color: #454545;
    padding-top: 4rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 5rem;
}


.main-page {
    display: flex;
    height: 100vh;
}

/* -------------------------------------------------------------------- */
/* -------------------------- Chat Elements --------------------------- */
/* -------------------------------------------------------------------- */

.assistant-chat-area {
    position: fixed;
    top: 4em;
    left: 0;
    padding-right: 0;
    height: calc(100vh - 4rem);
    width: 50%;
    box-sizing: border-box;

}

.assistant-chat-area .chat-user-query-area {
    display: inline-flex;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0%;
    height: 12.5%;
    width:80%;
    background-color: #ffff;
}

.assistant-chat-area .chat-user-query-area .chat-user-query-box {
    display: inline-flex;
    border-radius: 10px;
    border-color: #ffff;
    margin: 0%;
    width: 90%;
    resize: none;
}
.assistant-chat-area .chat-user-query-area .query-button {
    display: inline-flex;
    margin: 2.5%;
    background-color: #24496b;
}

.assistant-chat-area .chat-assistant-description {
    font-size: 0.75rem;
    margin-left: 10%;
}

.assistant-chat-area .chat-assistant-dialog {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10%;
    height: 80%;
    padding: 5%;
    overflow-y: scroll;
    scrollbar-color: #D3D3D3 #454545;
    scrollbar-width: thin;

}

.assistant-chat-area .chat-assistant-dialog .chat-bubble-user {
    align-self: flex-end;
    width: 60%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #D3D3D3;
}

.assistant-chat-area .chat-assistant-dialog .chat-bubble-assistant {
    align-self: flex-start;
    width: 60%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #446d92;

}

/* -------------------------------------------------------------------- */
/* ------------------- Collapsed Sidebar Elements --------------------- */
/* -------------------------------------------------------------------- */

.collapsed-sidebar {
    display: flex;
    flex-direction: column;  /* Stack the buttons vertically */
    justify-content: space-between;
    position: fixed;
    top: 6rem;
    left: 0;
    height: 50%;
    width: 5%;
    border-radius: 10px;
    background-color: #fec036;
}

.collapsed-sidebar .collapsed-sidebar-button {

    color: #fffff;
    background-color: #fec036;
    border-color: #fec036;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.collapsed-sidebar-element {
    background-color: #fec036;

}

.collapsed-sidebar-element .collapsed-sidebar-submit-button {
    color: #fffff;
    background-color: #3d454d;
    border-color: #3d454d;
    width: 100%;
    margin: 5%;
}

/* -------------------------------------------------------------------- */
/* ----------------------- Swarm Viewer Elements ---------------------- */
/* -------------------------------------------------------------------- */

.swarm-viewer-tab-area {
    display: inline-block;
    flex: 1;
    flex-direction: column;
    padding-top: 0em;
    padding-left: 0em;
    padding-right: 0em;
    margin-top: 0em;
    margin-right: 0%;
    margin-left: 50%;
    width: 60%;
    height: 100%;
}

.swarm-viewer-tab-area .graph-object {
    width: 100%;
    padding: 0;
    margin: 0;
}

.swarm-viewer-tab-area .dash-tabs {
    flex: 1;
    padding: 0;
    margin: 0;
    width: 100%;
}

.swarm-viewer-tab-area .dash-tabs .tab-content{
    flex: 1;
    padding: 0;
    margin: 0;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 24rem;
    padding: 4rem 1rem;
    background-color: #3b3b3b;
}

.model-loading-div{

    padding: 5px;
    font-color: #e5ecf2;
    font-size: 10px;
}

/* -------------------------------------------------------------------- */
/* ----------------------- Navbar Elements ---------------------- */
/* -------------------------------------------------------------------- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3b3b3b;
    width: 100%;
}

.nav-tabs .nav-item.show .nav-link {
    font-size: 0.25em;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
}

.nav {
    --bs-nav-link-color: #212529;
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color:
    }

#div.run-model-dropdown.run-model-button.dropdown {
    color: #4d6b53;
    background-color: #4d6b53;
    border-color: #4d6b53;
    width: 150%;
    font-size: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

.player-button-group{
    display: inline-flex;
    margin-right: 30%;
}

.player-buttons{
    background-color: #3d454d  !important;
    outline:none !important;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}



.dashboard-container {
    margin:10px;
}
/* Target the dropdown menu background */
.dropdown-menu {
    background-color: #3d454d !important;  /* Dark background color */
    font-size: 1rem;
    outline: none !important;
    box-shadow: none !important;
}

/* Target dropdown items (text color, hover color, etc.) */
.dropdown-item {
    color: #ffffff !important;  /* White text color */
    outline: none !important;
    box-shadow: none !important;
}


/* Remove outline from each dropdown item */
.dropdown-item:focus {
    outline: none !important;
    box-shadow: none !important;  /* Remove shadow here as well */
}

/* Change the hover background color of dropdown items */
.dropdown-item:hover {
    background-color: #3d454d !important;  /* Darker gray on hover */
    box-shadow: none !important;
    box-shadow: none !important;
}

/* If you want to change the toggle button color */
.dropdown-toggle {
    background-color: #3d454d !important;  /* Blue toggle button */
    color: #fff !important;  /* White text */
}





.run-option-div {
        padding: 0.25rem
}
.run-option-checklist-div {
        padding: 0.25rem;
        font-size: 10px;
        color: #fffff;
}

.dropdown {
    font-color: #e5ecf2;
    border-radius: 10px;
    border-color: #e5ecf2;
    margin:5px;
    font-size:75%;
    height:50%;
}
.dropdown .Select-control {
    background-color: #3b3b3b !important;
    color:#5D7B9E;
  }

.dropdown .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: #5D7B9E;
}

.dropdown .Select-value-label {
    color: #5D7B9E !important;
}

.slider {

}


.light-emphasis {
    background: #DDE7F3;
    border-radius: 10px;
    padding:30px;
    margin:5px;
}



.outline-emphasis {
    border-color: #DDE7F3;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding:20px;
    margin:5px;
}

.button {
   background-color: #024883;
}

.button:disabled {
   background-color: #024883;
}

.minor-button {
   background-color: #F1F2F3;
   border-color: #A9A9A9;
   color: #A9A9A9;
   font-size: 14px;
}

.dark-emphasis-button {
   background-color: #e5ecf2;
   border-color: #e5ecf2;
   color: #024883;
}

.tab {
    padding:10px !important;
    font-size: 14px;
}

 .react-grid-Header {
   box-shadow: 0px 0px 4px 0px #dddddd;
   background: #f9f9f9;
 }

 .react-grid-HeaderCell {
  background: #f9f9f9;
  padding: 8px;
  font-weight: bold;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.react-grid-Main {
  background-color: black;
  color: inherit;
  padding: 0px;
  outline: 1px solid #e7eaec;
}

.radio {

    font-size: 14px;
    margin:5px;

}
