body {
    overflow-y: scroll;
    background-color: #454545;
    padding-top: 4rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 5rem;
}


.main-page {
    display: flex;
    height: 100vh;
}

/* -------------------------------------------------------------------- */
/* -------------------------- Chat Elements --------------------------- */
/* -------------------------------------------------------------------- */

.assistant-chat-area {
    position: fixed;
    top: 4em;
    left: 0;
    padding-right: 0;
    height: calc(100vh - 4rem);
    width: 50%;
    box-sizing: border-box;

}

.assistant-chat-area .chat-user-query-area {
    display: inline-flex;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0%;
    height: 12.5%;
    width:80%;
    background-color: #ffff;
}

.assistant-chat-area .chat-user-query-area .chat-user-query-box {
    display: inline-flex;
    border-radius: 10px;
    border-color: #ffff;
    margin: 0%;
    width: 90%;
    resize: none;
}
.assistant-chat-area .chat-user-query-area .query-button {
    display: inline-flex;
    margin: 2.5%;
    padding: 1%;
    background-color: #24496b;
}

.assistant-chat-area .chat-assistant-description {
    font-size: 0.75rem;
    margin-left: 10%;
}

.assistant-chat-area .chat-assistant-dialog {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10%;
    height: 80%;
    padding: 5%;
    overflow-y: scroll;
    scrollbar-color: #D3D3D3 #454545;
    scrollbar-width: thin;

}

.assistant-chat-area .chat-assistant-dialog .chat-bubble-user {
    align-self: flex-end;
    width: 60%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #D3D3D3;
}

.assistant-chat-area .chat-assistant-dialog .chat-bubble-assistant {
    align-self: flex-start;
    width: 60%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #446d92;

}

.assistant-chat-area .chat-assistant-dialog .chat-bubble-assistant img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.attachment-drop-down {
    padding: 5%;
    margin:auto;
    font-size=0.25em;

}
.chat-upload-attachment {
    margin:auto;
}

attachment-drop-down-text{
    font-size=0.25em;
    }
/* -------------------------------------------------------------------- */
/* ------------------- Collapsed Sidebar Elements --------------------- */
/* -------------------------------------------------------------------- */

.collapsed-sidebar {
    display: flex;
    flex-direction: column;  /* Stack the buttons vertically */
    justify-content: space-between;
    position: fixed;
    top: 6rem;
    left: 0;
    height: 50%;
    width: 5%;
    border-radius: 10px;
    background-color: #fec036;
}

.collapsed-sidebar .collapsed-sidebar-button {

    color: #fffff;
    background-color: #fec036;
    border-color: #fec036;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.collapsed-sidebar-element {
    background-color: #fec036;

}

.collapsed-sidebar-element .collapsed-sidebar-submit-button {
    color: #fffff;
    background-color: #3d454d;
    border-color: #3d454d;
    width: 100%;
    margin-top:5%;
}

/* -------------------------------------------------------------------- */
/* ----------------------- Swarm Viewer Elements ---------------------- */
/* -------------------------------------------------------------------- */

.swarm-viewer-tab-area {
    display: inline-block;
    flex: 1;
    flex-direction: column;
    padding-top: 0em;
    padding-left: 0em;
    padding-right: 0em;
    margin-top: 0em;
    margin-right: 0%;
    margin-left: 50%;
    width: 60%;
    height: 100%;
}

.swarm-viewer-tab-area .graph-object {
    width: 100%;
    padding: 0;
    margin: 0;
}

.swarm-viewer-tab-area .dash-tabs {
    flex: 1;
    padding: 0;
    margin: 0;
    width: 100%;
}

.swarm-viewer-tab-area .dash-tabs .tab-content{
    flex: 1;
    padding: 0;
    margin: 0;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 24rem;
    padding: 4rem 1rem;
    background-color: #3b3b3b;
}

.model-loading-div{

    padding: 5px;
    font-color: #e5ecf2;
    font-size: 10px;
}

/* -------------------------------------------------------------------- */
/* ----------------------- Navbar Elements ---------------------- */
/* -------------------------------------------------------------------- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3b3b3b;
    width: 100%;
    --bs-navbar-padding-y: 0.15rem;
    display: inline-block !important;
}

.nav {
    --bs-nav-link-color: #212529;
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color:
    }

.navbar .run-model-group {
    display: inline-block !important;
    background-color: #fec036 !important;
    margin: 5%;
}

.run-model-button {
    display: inline-block !important;
    width: 100%;
    background-color: #212529;
}
.model-loading-div {
    display: inline-block;
    height:100%;
    background-color: #212529;
    font-color:white;
    margin-left:10%;
}
.play-button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block !important;
    margin-left: 2%;
    margin-right: 10%;
}

.player-buttons{
    display: inline-block;
    font-size: 0.5rem;
    color: black;
    background-color: #4d4d4d;
    border-color: #4d4d4d !important;
    margin: 2px;
}


.kpi-box{
    border-radius: 5px;
    border-color: #4d4d4d !important;
    margin: 0%;
}


.kpi-box .kpi-name{
    font-size: 0.5rem;
    color: #6b6a6a;
}

.kpi-box .kpi-value{
    font-size: 1rem;
    color: #6b6a6a;
}

/* -------------------------------------------------------------------- */
/* -------------------------- Data View Elements ---------------------- */
/* -------------------------------------------------------------------- */

